<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Add Contact</title>

</head>
<body>
  <div class="form-contact" id="contactForm">
    <form action="/addContact" class="form-contactItem", method="POST"> <!--change method to POST or get ??-->
      
    <h1>Add Contact</h1>
      <div class="container">
        <div class="column">
          
          </div>
          <div class="row">
            <form action="/action_page.php">
                <br><br>
              <label for="SupplierName">Enter Supplier Name:</label>
              <input type="text" id="SupplierName" name="SupplierName" placeholder="Supplier Name.."><br><br>
              <label for="phoneNum">Supplier Phone Number:</label>
              <input type="number" id="phoneNum" name="phoneNum" placeholder="Enter Phone Number.."><br><br> <!--Change up to only have phone numbers-->
              <label for="address">Supplier Address:</label>
              <input type="text" id="address" name="address" placeholder="Enter Address.."><br><br>
              <br><br>
              <label for="notes">Notes:</label> <br>
              <textarea id="notes" name="notes" placeholder="Supplier Notes.." style="height:100px"></textarea>
            </form>
          </div>
        </div>
      </div>
    
      
        
      <button class="saveBtn" type="save">Save</button>
        
      <button type="cancel" class="cancelBtn" onclick="goPrev()">Close</button>  
    
  </form>
</div>





</body>

<script>
  function goPrev()
  {
    history.go(-1);
    /* window.history.back(); */
    /*location.reload();*/
  }
</script>