<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Add Items</title>

</head>
<body>
  <div class="form-addItem" id="addItemForm">
    <form action="/addItem" class="form-addItem", method="POST">
      <br><br>
      <h1><u>Enter Item Information</u></h1>
      
      <div class="flex">
        <div class="column">
          <div class="card">


            <div class="container2">

              <div class="float-child">
                <br>
                <label for="itemName"><b>Item Name:</b></label>
                <br><br><br><br>
                <label for="Quantity"><b>Quantity(0-50):</b></label>
                <br><br><br><br>
                <label for="beverage"><b>Label Type:</b></label>
                <br><br><br><br>
                <label for="thresholdAmount"><b>Low Quantity Alert(0-50):</b></label>
              </div>
              
              <div class="float-child2">
                <input type="text" placeholder="Enter Item Name" name="itemName" required>
                <br><br>
                <input type="number" placeholder="Enter Amount" name="Quantity" min="0" max="50" required>
                <br><br>
                <select name="beverage" id="beverage">
                  <option value="beer">Beer</option>
                  <option value="wine">Wine</option>
                  <option value="vodka">Vodka</option>
                  <option value="rum">Rum</option>
                  <option value="whiskey">Whiskey</option>
                  <option value="tequila">Tequila</option>
                  <option value="gin">Gin</option>
                  <option value="brandy">Brandy</option>
                  <option value="mezcal">Mezcal</option>
                </select>
                <br><br>
                <input type="number" placeholder="Enter Amount" name="Threshold" min="0" max="50" required>
              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              </div>
            







            <!-- <div class="container2"> -->
              <!-- <label for="itemName"><b>Item Name:</b></label>
              <input type="text" placeholder="Enter Item Name" name="itemName" required> <br>          
              <label for="Quantity"><b>Quantity(0-50):</b></label>
              <input type="number" placeholder="Enter Amount" name="Quantity" min="0" max="50" required> <br><br> -->
          
              <!--Select options below-->
                <!-- <label for="beverage"><b>Label Type:</b></label>
                <select name="beverage" id="beverage">
                  <option value="beer">Beer</option>
                  <option value="wine">Wine</option>
                  <option value="vodka">Vodka</option>
                  <option value="rum">Rum</option>
                  <option value="whiskey">Whiskey</option>
                  <option value="tequila">Tequila</option>
                  <option value="gin">Gin</option>
                  <option value="brandy">Brandy</option>
                  <option value="mezcal">Mezcal</option>
                </select>
                <br><br>
          
                <label for="thresholdAmount"><b>Low Quantity Alert(0-50):</b></label>
                <input type="number" placeholder="Enter Amount" name="Threshold" min="0" max="50" required> -->
            <!-- </div> -->
          </div>
          <button class="saveForm" type="save">Save</button>
          <button type="button" class="cancelForm" onclick="goPrev()">Close</button>
        </div>
      </div>
  
      
        <br><br>
        <!-- <button class="addItemButton" type="save">Save</button> -->
        
    <!-- <button type="cancel" class="cancelBtn" onclick= window.location.href="{{ url_for('page2') }}">Close</button> -->

    <!-- <button type="cancel" class="button2" onclick="goPrev()">Close</button> -->
    <!--closeForm() function might have required check for user input-->
  </form>
</div>



</body>

<script>
  function goPrev()
  {
    history.go(-1);
    /* window.history.back(); */
    /*location.reload();*/
  }
</script>