<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Edit Item</title>
</head>
<body>
  <div class="form-editItem" id="addItemForm">
    <form action="/addItem" class="form-addItem", method="POST">
      <br><br>
      <h1><u>Edit Item Information</u></h1>

      <div class="flex">
        <div class="column">
          <div class="card">


            <div class="container2">

              <div class="float-child">
                <br>
                <label for="beverage"><b>Change Label Type:</b></label>
                <br><br><br><br>
                <label for="beverage"><b>Old Item Name:</b></label>
                <br><br><br><br>
                <label for="beverage"><b>New Item Name:</b></label>
                <br><br><br><br>
                <label for="thresholdAmount"><b>Update Low Quantity Alert?</b></label>
                <br><br><br><br>
                <label for="itemUnits"><b>Change Stock Amount:</b></label>
              </div>

              <div class="float-child2">
                <select name="beverage" id="beverage">
                  <option value="beer">Beer</option>
                  <option value="wine">Wine</option>
                  <option value="vodka">Vodka</option>
                  <option value="rum">Rum</option>
                  <option value="Whiskey">Whiskey</option>
                  <option value="Tequila">Tequila</option>
                  <option value="Gin">Gin</option>
                  <option value="Brandy">Brandy</option>
                  <option value="Mezcal">Mezcal</option>
                </select>
                <br><br>
                <!-- <select name="beverage" id="beverage">
                  <option value="beer">Item name</option>
                </select> -->
                <input type="text" placeholder="Enter new name" name="Threshold" required>
                <br><br>
                <input type="text" placeholder="Enter name" name="Threshold" min="0" max="50" required>
                <br><br>
                <input type="number" placeholder="Enter Amount" name="Threshold" min="0" max="50" required>
                <br><br>
                <input type="number" placeholder="Enter Stock" name="Units" min="0" max="50" required>

              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
              </div>


            </div>
          </div>
        </div>

        <br><br>

        <button type="save" class="addItemButton">Save</button>
    <button type="cancel" class="button2" onclick="goPrev()">Close</button>
  </form>
</div>


<script>
  function goPrev()
  {
    /*window.history.back();*/
    history.go(-1);
  }
</script>


</body>
</html>