<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <title>Edit Item</title>
</head>
<body>

<Header></Header>

<h1>Edit Item</h1>

<br><br>
<h2>Edit Item Information</h2>

    <!--Select options below-->
      <label for="beverage"><b>Change Label Type?</b></label>
      <select name="beverage" id="beverage">
        <option value="beer">Beer</option>
        <option value="wine">Wine</option>
        <option value="vodka">Vodka</option>
        <option value="rum">Rum</option>
        <option value="Whiskey">Whiskey</option>
        <option value="Tequila">Tequila</option>
        <option value="Gin">Gin</option>
        <option value="Brandy">Brandy</option>
        <option value="Mezcal">Mezcal</option>
      </select>

      <br><br>
      <label for="thresholdAmount"><b>Update Low Quantity Alert?</b></label>
      <input type="text" placeholder="Enter Amount" name="Threshold" required>
      <br><br>
      <label for="thresholdAmount"><b>Update Low Quantity Alert?</b></label>
      <input type="text" placeholder="Enter Amount" name="Threshold" required>
      <br><br>
      <label for="itemUnits"><b>Change Units(ex. 20-Liter Bottles)?</b></label>
      <input type="text" placeholder="Enter Units" name="Units" required>
      <br><br>
      <label for="notes"><b>Additional Notes:</b></label>
      <input type="text" placeholder="Add your notes here..." name="notes" required>
      <br><br>

    <button type="save" class="addItemButton">Save</button>
    <button type="cancel" class="button2" onclick="goPrev()">Close</button>
  </form>
</div>

<script>
  function goPrev()
  {
    /*window.history.back();*/
    history.go(-1);
  }
</script>


</body>
</html>