<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Remove Contact Page</title>

</head>
<body>
  <div class="form-rmvContact" id="rmvContactForm">
    <form action="/rmvContact" class="form-rmvContact", method="POST"> <!--change method to POST or get ??-->
      <br><br>
      <h1><u>Enter Contact To Remove</u></h1>

      <div class="flex">
        <div class="column">
          <div class="card">


            <div class="container2">

              <div class="float-child">
                <br>
                <label for="contactName"><b>Contact Name:</b></label>
              </div>

              <div class="float-child2">
                <select name="namelist" id="MyDataName">
                  {%for j in namelist %}
                    <!-- <option value={{j[0]}}>{{j[1]}}</option> -->
                    <!-- <option value = "{{name}}">{{name}}</option>"></option>  -->

                  {% endfor %}
              </select>
              </div>
              <br><br><br><br><br><br><br>
            </div>

          </div>
          <button class="saveForm" type="save">Save</button>
          <button type="cancel" class="cancelForm" onclick="goPrev()">Close</button>
        </div>
      </div>
  
        <br><br>
        <!-- <button class="addItemButton" type="save">Save</button>

    <button type="cancel" class="button2" onclick="goPrev()">Close</button> -->
  </form>
</div>


</body>

<script>
  function goPrev()
  {
    history.go(-1);
    /* window.history.back(); */
    /*location.reload();*/
  }
</script>


<script>
  function refreshTable() {
  $.getJSON('/contactdata', function(data) {
    var rows = '';
    $.each(data, function(index, row) {
      rows += '<tr><td>' + row[0] + '</td><td>' + row[1] + '</td><td>' + row[2] + '</td><td>' + row[3] + '</td></tr>';
    });
    $('#inventory tbody').html(rows);
    });
  }
  setInterval(refreshTable, 1000);
</script>