<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <title>Remove Contact Page</title>

</head>
<body>
  <div class="form-rmvContact" id="rmvContactForm">
    <form action="/rmvContact" class="form-rmvContact", method="POST"> <!--change method to POST or get ??-->
      <h1>Enter Contact To Remove</h1>
  
      <label for="contactName"><b>Contact Name:</b></label>
      <input type="text" placeholder="Enter Contact Name" name="contactName" required> <br> <!--Change to query data from table and make a dropdown menu for it!!!!!!!!!!!!!!!!!!!!!-->
  
      <!--Select options below-->
        <label for="beverage"><b>Table Name:</b></label>
        <select name="beverage" id="beverage">
          <option value="beer">Beer</option>
          <option value="wine">Wine</option>
          <option value="vodka">Vodka</option>
          <option value="rum">Rum</option>
          <option value="Whiskey">Whiskey</option>
          <option value="Tequila">Tequila</option>
          <option value="Gin">Gin</option>
          <option value="Brandy">Brandy</option>
          <option value="Mezcal">Mezcal</option>
        </select>
        <br><br>
  
        <br><br>
        <button class="addItemButton" type="save">Save</button>

    <button type="cancel" class="button2" onclick="goPrev()">Close</button>
  </form>
</div>


</body>

<script>
  function goPrev()
  {
    history.go(-1);
    /* window.history.back(); */
    /*location.reload();*/
  }
</script>