<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>  
  <title>Remove Items</title>

</head>
<body>
  <div class="form-removeItem" id="removeItemForm">
    <form class="form-removeItem" method="POST" action="/rmvItem/">

      <br><br>
      <h1><u>Enter Item To Be Removed</u></h1>

      <div class="flex">
        <div class="column">
          <div class="card">


            <div class="container2">

              <div class="float-child">
                <br>
                <!-- <label for="itemName"><b>Item Name:</b></label> -->
                <br><br>
                <label for="beverage"><b>Table Name:</b></label>
                <br><br><br><br>
                <label for="items"><b>Item Name:</b></label>
              </div>

              <div class="float-child2">
                <!-- <input type="text" placeholder="Enter Item Name" name="itemName"> -->
                <br><br>
                <select name="table" id="table" required>
                  <option value="">Please Select</option>
                  <option value="beer">Beer</option>
                  <option value="wine">Wine</option>
                  <option value="vodka">Vodka</option>
                  <option value="rum">Rum</option>
                  <option value="whiskey">Whiskey</option>
                  <option value="tequila">Tequila</option>
                  <option value="gin">Gin</option>
                  <option value="brandy">Brandy</option>
                  <option value="mezcal">Mezcal</option>
                </select>
                <br><br>
                <select name="brand" id="brand" required> <!--Change to query data from table!!!!!!!!!!!!!!!!!!!!!-->
                </select>
              </div>
              <br><br><br><br><br><br><br><br><br><br><br><br>
              </div>
            </div>
            <button class="saveForm" type="save">Save</button>
            <button type="button" class="cancelForm" onclick="goPrev()">Close</button>
          </div>
        </div>
  

        <!-- <button class="addItemButton" type="save">Save</button> -->
        
    <!-- <button type="cancel" class="cancelBtn" onclick= window.location.href="{{ url_for('page2') }}">Close</button> -->

    <!-- <button type="cancel" class="button2" onclick="goPrev()">Close</button> -->

  </form>
</div>


</body>
<script>
$(document).ready(function() {
    $('#table').change(function() {
        var table = $(this).val();
        $.ajax({
            url: '/brands/' + table,
            type: 'GET',
            success: function(data) {
                var options = '';
                for (var i = 0; i < data.length; i++) {
                    options += '<option value="' + data[i][0] + '">' + data[i][0] + '</option>';
                }
                $('#brand').html(options);
            }
        });
    });
});
</script>

<script>
  function goPrev()
  {
    history.go(-1);
    /* window.history.back(); */
    /*location.reload();*/
  }
</script>