<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory Management</title>
  <a href="{{ url_for('index') }}">Home</a>
  <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>

<br><br>

<div class = "searchtopbar">
  <a class="active" href="#home">Log Out</a>
  <a href="#about">About</a>
  <a onclick= window.location.href="{{ url_for('contact') }}">Contact</a>
  <form>
    <input type="text" name="search" placeholder="Search..">
  </form>
</div>

<h1>Gin Inventory</h1>

<div1>
    <!--<button class = "addItemButton" onclick="openForm()">Add Item</button> -->
    <button class = "addItemButton" onclick= window.location.href="{{ url_for('addItem') }}">Add Item</button>
    <button class = "button2" onclick= window.location.href="{{ url_for('rmvItem') }}">Remove Item</button>
    <button class = "edititem" onclick= window.location.href="{{ url_for('EditItem') }}">Edit Item</button>
</div1>


<!-- The navigation menu -->
<div class="navbar">
  <a onclick= window.location.href="{{ url_for('beer') }}">Beer</a>
  <a onclick= window.location.href="{{ url_for('wine') }}">Wine</a>
  <a onclick= window.location.href="{{ url_for('vodka') }}">Vodka</a>
  <a onclick= window.location.href="{{ url_for('rum') }}">Rum</a>
  <a onclick= window.location.href="{{ url_for('whiskey') }}">Whiskey</a>
  <a onclick= window.location.href="{{ url_for('tequila') }}">Tequila</a>
  <a class="active" onclick= window.location.href="{{ url_for('gin') }}">Gin</a>
  <a onclick= window.location.href="{{ url_for('brandy') }}">Brandy</a>
  <a onclick= window.location.href="{{ url_for('mezcal') }}">Mezcal</a>
</div>


<div id="Gin" class="tabcontent">
  <br><br>
  
  <table id="inventory", class="center">
    <tr>
      <th>Item</th>
      <th>Quantity</th>
    </tr>
      {% for item in data %}
  <tr>
      <td> {{item[0]}}</td>
      <td> {{item[1]}}</td>
      
  </tr>
  {% endfor %}
  </table>
</div>


</body>
</html>