 /* Bordered form for page1, slightly messes up page 2 topbar */
/*form {
  border: 3px solid #f1f1f1;
}*/


@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import url('https://fonts.googleapis.com/css?family=Quicksand&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Delicious+Handrawn&family=Vollkorn&display=swap');


body {
  background-color:#EEEFF7;
  font-family: 'Vollkorn', serif;;
}

h1 {
  text-align: center;
  font-family: 'Quicksand';
}

/* Full-width inputs */
input[type=text], input[type=password] {
  width: 50%;
  overflow: auto;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

/* Set a style for all buttons */
.submitbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 10%;
}

/* Add a hover effect for buttons */
button:hover {
  opacity: 0.8;
}

/* Extra style for the cancel button (red) */
.cancelbtn {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;

  width: auto;
  padding: 10px 18px;
  background-color: #f44336;
}

/* Center the avatar image inside this container */
.imgcontainer {
  text-align: center;
  margin: 24px 0 12px 0;
}

/* Avatar image */
img.avatar {
  width: 40%;
  border-radius: 50%;
}

/* Add padding to containers */
.container {
  padding: 16px;
}

/* The "Forgot password" text */
span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
  span.psw {
    display: block;
    float: none;
  }
  .cancelbtn {
    width: 100%;
  }
}


/*page 2 formating-------------------------------------------*/

.addItemButton {
    border: 2;
    background-color: #70d879;
    color: white;
    padding: 15px;
    width: 130px;
    text-align: center;
    position: fixed;
    /*top: 0;*/
    bottom: 80px;
    right: 0;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

.addItemButton:active{
  background-color: rgb(0, 132, 37);
}

.button2 {
    border: 2;
    background-color: red;
    color: white;
    padding: 15px;
    width: 130px;
    text-align: center;
    position: fixed;
    bottom: 0;
    right: 0;
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
}

.button2:active{
  background-color: rgb(159, 0, 0);
}

.edititem {
  border: 2;
  background-color: #1f58f7;
  color: white;
  padding: 15px;
  width: 130px;
  text-align: center;
  position: fixed;
  /*top: 0;*/
  bottom: 160px;
  right: 0;
  font-size: 16px;
  margin: 5px 5px;
  cursor: pointer;
}

.edititem:active{
  background-color: rgb(0, 38, 141);
}


/* Add a black background color to the top navigation bar */
.searchtopbar {
  overflow: hidden;
  background-color: #e1ecff;
}

/* Style the links inside the navigation bar */
.searchtopbar a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.searchtopbar a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.searchtopbar a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.searchtopbar input[type=text] {
  float:right;
  padding: 6px;
  border: none; /*remove this if want outline around search box*/
  margin-top: 8px;
  margin-right: 350px;
  font-size: 17px;

  width: 300px;
  border-radius: 4px;

  /*transition: width 0.4s ease-in-out;*/ /*for aniimated search bar*/
}
/*.searchtopbar input[type=text]:focus {
  width: 50%;
}*/

.searchtopbar b {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.searchtopbar b:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.searchtopbar b.active {
  background-color: #2196F3;
  color: white;
}

/*in searchtopbar, adjusts the position for the log out symbol*/
.material-symbols-outlined{
  text-align: center;
  position: absolute;
}

/*in searchtopbar, adjusts the position for the Supplier info symbol*/
.logoutIcon {
  text-align: center;
  position: absolute;
  right: -13px;
}

/*in searchtopbar, adjusts the position for the Supplier info symbol*/
.supplierIcon {
  text-align: center;
  position: absolute;
  right: -13px;
}

.inventoryIcon {
  text-align: center;
  position: absolute;
  left: -13px;
}

/*in searchtopbar, adjusts the position for the search symbol*/
.searchIcon {
  text-align: center;
  position: absolute;
  left: -13px;
}



/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .searchtopbar a, .searchtopbar input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .searchtopbar input[type=text] {
    border: 1px solid #ccc;
  }
}


table,
th,
td {
    text-align: center;
    font-size: 20px;
    border: 1px solid;
    width: 50%;
    height: 35px;
}

table.center {
    margin-left: auto;
    margin-right: auto;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}
tr:nth-child(odd) {
    background-color: #c9c9c9;
}

/* Style the navigation menu */
.navbar {
    width: 100%; /*100%*/
    background-color: #555;
    overflow: auto;
    display: flex;
  }

  /* Navigation links */
  .navbar a {
    float: left;
    padding: 12px;
    color: white;
    /*text-decoration: none;*/ /*Uncomment to turn off underlining*/
    font-size: 18px;
    width: 8%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
    flex: 1;
  }

  .navbar button {
    float: left;
    padding: 12px;
    color: rgba(73, 73, 73, 0.715);
    /*text-decoration: none;*/ /*Uncomment to turn off underlining*/
    font-size: 18px;
    width: 8%; /* Four equal-width links. If you have two links, use 50%, and 33.33% for three links, etc.. */
    text-align: center;
  }

  /* Add a background color on mouse-over */
  .navbar a:hover {
    background-color: #000;
  }

  .navbar button:hover{
    background-color: rgba(223, 221, 221, 0.808);
  }

  .navbar a:active{
    background-color: rgb(53, 187, 4);
  }

  /* Style the current/active link */
  .navbar a.active {
    background-color: #04aa6d5c;
  }

  .navbar button.active{
    background-color: #04AA6D;
  }

  .navbar button.defaultOpen{
    background-color: #04AA6D;
  }

  /* Add responsiveness - on screens less than 500px, make the navigation links appear on top of each other, instead of next to each other */

  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }
    .navbar button {
      float: none;
      display: block;
      width: 100%;
      text-align: left; /* If you want the text to be left-aligned on small screens */
    }

  }

  /*Add Item Page-------------------------------------------*/
.saveBtn {
    border: 2;
    background-color: #70d879;
    color: white;
    padding: 15px 30px;
    width: 130px;
    text-align: center;
    position: fixed;
    /*top: 0;*/
    font-size: 16px;
    margin: 5px 5px;
    cursor: pointer;
    bottom: 80px;
    right: 0;
}

/* Change the color of links on hover */
.saveBtn a:hover {
  background-color: #ddd;
  color: black;
}

.cancelBtn {
    border: 2;
    background-color: #ff0000;
    color: white;
    padding: 15px 30px;
    text-align: center;
    position: fixed;
    /*top: 0;*/
    font-size: 16px;
    margin: 5px 150px;
    cursor: pointer;
}

/* Change the color of links on hover */
.cancelBtn a:hover {
  background-color: #ddd;
  color: black;
}

/* Full-width input field for Item Name */
.form-addItem input[type=text] {
  /* width: 50%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-addItem input[type=number] {
  /* width: 40%; */
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-addItem select[name] {
  /* width: 40%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/*Remove Item Page*/
.form-removeItem input[type=text] {
  /* width: 50%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-removeItem select[name] {
  /* width: 40%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}


/* Edit Item Page */
.form-editItem input[type=text] {
  /* width: 50%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-editItem input[type=number] {
  /* width: 40%; */
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-editItem select[name] {
  /* width: 40%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}










.saveForm {
  border: 2;
  background-color: #70d879;
  color: white;
  padding: 15px 30px;
  width: 130px;
  text-align: center;
  position: absolute;
  font-size: 16px;
  /* margin: 5px 5px; */
  margin: 20px 80px;
  cursor: pointer;

}

.cancelForm {
  border: 2;
  background-color: #ff0000;
  color: white;
  padding: 15px 30px;
  width: 130px;
  text-align: center;
  position: absolute;
  /*top: 0;*/
  font-size: 16px;
  margin: 20px 280px;
  cursor: pointer;
}






/*Add Contact Page*/
.form-addContact input[type=text] {
  /* width: 50%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}
.form-addContact input[type=number] {
  /* width: 40%; */
  width: 85%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

.form-addContact select[name] {
  /* width: 40%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

/*Remove Contact Page*/
.form-rmvContact select[name] {
  /* width: 40%; */
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}




/*Textbox formatting*/
.column {
  /* float:left; */
  width: 35%; /*Formats the width of the box that holds the prompts*/
  margin-bottom: 16px;
  padding: 0 8px;
}

/*Formatting for the box that holds the prompts*/
.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
  /* background-color: #a0d1ff; */
  background-color: #d8d8d8;
}

/*centers the box that holds prompts*/
.flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container2 {
  padding: 16px;
}

/*Formatting for the left column(prompts)*/
.float-child {
  width: 42%;
  float: left;
  padding: 20px;
  /* border: 2px solid red; */
}

/*Formatting for the right column(input boxes)*/
.float-child2 {
  width: 40%;
  float: right;
  padding: 16px;
  /* border: 2px solid red; */
  text-align: right;
}


/*Search page formatting*/
.searchContainer {
  margin: 0 auto;
  margin-top: 100px;
  width: 1500px;
  text-align: center;
}

.searchInput {
  font-size: 14pt;
  border-radius: 15px;
  border: 1px solid #bbb;
  padding: 10px;
  width: 400px;
}

.searchButton {
  margin-top: 10px;
  font-size: 14pt;
  padding: 10px 20px 10px;
  border-radius: 3px;
  border: 1px solid #ddd;
}

.searchButton:hover {
  border: 1px solid #bbb;
}